@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html[data-theme='black']{
    .service{
        background: #343a40;
    }
    .navbar{
        background:black ;
    }
    .card{
        background: black;
    }
    .text{
        color: white;
    }
}
.service{
    background: linear-gradient( 249.67deg,#ff7a00 21.96%,#835546 52.04%,#0f404d 82.12% );
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate-infinite {
    animation: rotate infinite 20s linear;
  }

#core{
  background: white;
}
